---
/*
  This layout is used in pages that render markdoc content
  - pages/blog/[slug].astro
*/

// Import the global.css file here so that it is included on
import "../styles/theme.css";
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"
    />
  </head>

  <body
    class="min-h-screen text-text-body bg-bg-body max-w-3xl mx-auto px-6 sm:px-8"
  >
    <Header />
    <main id="main">
      <section class="blog-post prose max-w-none prose-sleek">
        <h1 class="m-0 mb-[0.25em]">{title}</h1>
        <time class="block mb-[2em] text-text-muted">{formattedDate}</time>
        <slot name="content" />
      </section>
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script>
      docsearch({
        // Your Search API Key
        apiKey: '343896050ec1f5ca8c7309a89f605caf',
        // The index populated by the DocSearch scraper
        indexName: 'docsearch',
        // Your Algolia Application ID
        appId: 'YJB53K8LH1',
        // Replace inputSelector with a CSS selector
        // matching your search input
        inputSelector: '#docsearch',
        // Set debug to true to inspect the dropdown
        debug: false,
      });
    </script>
    <div id="docsearch"></div>
  </body>
</html>
